
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 2vh;
    scroll-snap-type: y mandatory;
    /* scroll-behavior: auto; */
}

body {
    font-family: 'Lato', sans-serif;
    background-image: radial-gradient(56% 100%, rgb(255, 255, 255) 25%, rgba(51, 21, 78, 0.13) 150%);
}

@media (min-width: 768px) {
    html {
      font-size: 1.5vh;
    }
}

/* the .no-snap section here is necessitated by iOS Safari being hot garbahj 
and not playing nice with anchor links when scroll-snap-type: mandatory is on 
 */

.no-snap {
    scroll-snap-type: none !important;
}

.no-snap section {
    scroll-snap-align: none !important;
    scroll-snap-stop: normal !important;
}

.content-wrapper {
    box-shadow: rgba(25, 29, 33, 0.5) 0px 25px 60px;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}

/* modal */

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
}

.modal-content {
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.modal-content input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 1.15rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal-submit-button {
    background-color:#e81b8e;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.15rem;
}

.modal-content button:hover {
    opacity: 0.8;
}

.modal-subtitle {
    font-size: 0.8rem;
    color: #777;
}

.hidden {
    display: none;
}

.invisible-anchor-link {
    color: transparent;
    text-decoration: none;
    scroll-behavior: smooth;
}

section {
    overscroll-behavior: none;
    background-color: rgb(20,20,20);
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.section-grid{
    display: grid;
    grid-template-rows: 1fr 50vh 1fr;
}

#hero-copy-container-1 {
    transform: translateY(-3vh);
}

.hero-copy-container {
    margin-top: 5vh;
    margin-left: .05rem;
    margin-right: .05rem;
    text-align: center;  
    z-index: 2;
    color: white;
    font-weight: 700;
    font-size: 1.75rem;
}

.hero-copy-line-1 {
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px;
}

.hero-copy-line-2 {
    animation: fade-in-hero 3s ease-in-out forwards;
    color: #e81b8e;
    letter-spacing: .15rem;
    margin-top: -1.35rem;
}

.section-video {
    width: 100%;
    object-fit: contain;
    z-index: 1;
    pointer-events: none;
    transform: translateY(-3vh);
}

.bottom-third-content {
    transform: translateY(-7vh);
    position: relative;
    z-index: 2;
    color: rgb(42, 42, 42);
    text-align: center;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 500px) {
    .bottom-third-content {
        transform: translateY(-10vh);
    }
}


@keyframes fade-in-hero {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

.unordered-list-container {
    transform: translateY(-5vh);
    width: 100%;
    min-height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative; 
}

@media (max-height: 850px) {
    .unordered-list-container {
        min-height: 300px;
    }
    .list-section {
        padding: 10px;
    }
    .list-section li {
        margin-bottom: 1.15rem;
        line-height: 1.4;
    }
}

.unordered-list-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/images/linkberree_icon_thick.png');
    background-size: auto calc(100% * 0.7);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.1;
    z-index: 0;
}


.list-section {
    background: linear-gradient(rgba(200, 200, 200, 0.1), rgba(200, 200, 200, 0.1)), whitesmoke;
    text-align: left;
    /* border: solid red 5px; */
    padding: 20px 20px 20px 20px;
    list-style-type: none;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 100%; 
}


.list-section li {
    color: rgba(42, 42, 42, 0.6);
    margin-bottom: 1.25rem;
    line-height: 1.6;
}

.list-section li:last-child {
    margin-bottom: 0; /* Remove margin for the last li element */
}

.unordered-list-span {
    color: rgba(42, 42, 42, 0.95);
}

.list-headline {
    font-weight: 900;
    font-size: 125%;
}

.list-subhead {
    font-weight: 600;
}

.exclusive-line {
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
    padding-left: .5rem;
    padding-top: .5rem;
}

.mute-svg-icon {
    fill: white
}

.svg-background-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.image-link-wrapper {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    padding: 5% 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-link {
    display: flex;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px; 
}

.image-link .profile-pic-wrapper {
    display: flex;
    align-items: center;
}

.image-link .profile-pic {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgb(221, 221, 221);
    background: linear-gradient(rgba(200, 200, 200, 0.1), rgba(200, 200, 200, 0.1)), whitesmoke;

}

.image-link .image-text {
    margin: 0 10px;
    color: white;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.link-wrapper {
    width: 75vw;
    align-self: flex-start;
    font-size: 1.25rem;
}

/* .link-wrapper a {
    cursor: pointer;
    background: rgb(250, 249, 246);
    color: #e81b8e; 
    text-decoration: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 90%;
    border-radius: 10px;
    z-index: 5;
} */

.a-anchor-link {
    display: inline;
    cursor: pointer;
    background: rgb(250, 249, 246);
    color: #e81b8e; 
    text-decoration: none;
    padding: 1.05rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 90%;
    border-radius: 10px;
    transition: all 3s ease-in-out;
    animation: colorChange 3s forwards;
    animation-delay: 1.5s;
    z-index: 5;
}


.link-wrapper button.join-waitlist-button {
    background: rgb(250, 249, 246);
    font-size: 1.25rem;
    color: #e81b8e;
    text-decoration: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 90%;
    border-radius: 10px;
    transition: none;
    animation: none;
    transition: all 3s ease-in-out;
    animation: colorChange 3s forwards;
    animation-delay: 1.5s;
    border: none; 
    cursor: pointer;
    outline: none;
}




@keyframes colorChange {
    to {
        background: #e81b8e;
        color: rgb(250, 249, 246);
    }
}

.link-arrow {
    line-height: 1;
    animation: slide 1s ease-in-out 2s forwards;
    transform: translateX(-30px);
    font-size: 2rem;
    font-weight: 900;
}

.link-email-emoji {
    line-height: 1;
    animation: slide 1s ease-in-out 2s forwards;
    transform: translateX(-30px);
    font-size: 2.25rem;
    font-weight: 900;
}

@keyframes slide {
    to {
        transform: translateX(-10px);
    }
}

.bounce-arrow {
    color:#FAF9F6;
    text-shadow: 1px 1px 1px rgb(42, 42, 42);
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}

.last-arrow {
    visibility:hidden;
}

.bounce-visible {
    animation: bounce 1s ease infinite;
    animation-iteration-count: 3;
    animation-delay: 1s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}

