html, body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
      font-size: 18px;
    }
  }

body {
    background-image: radial-gradient(56% 100%, rgb(255, 255, 255) 25%, rgba(51, 21, 78, 0.13) 150%);
}

.content-wrapper {
    box-shadow: rgba(25, 29, 33, 0.5) 0px 25px 60px;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}

/* modal */

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
}

.modal-content {
    background-color: #fefefe;
    margin: 75% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.modal-content-up {
    margin-top: 35%; /* Adjust as needed */
}

.modal-content input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal-content button {
    background-color:#e81b8e;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.modal-content button:hover {
    opacity: 0.8;
}

.modal-subtitle {
    font-size: 0.8rem;
    color: #777;
}

.hidden {
    display: none;
}



.invisible-anchor-link {
    color: transparent;
    text-decoration: none;
    scroll-behavior: smooth;
}

section {
    background-color: rgb(20,20,20);
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.section-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.section-content {
    position: relative;
    z-index: 2;
    color: rgb(42, 42, 42);
    text-align: center;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.hero-copy-container {
    position: absolute;  
    top: 3%;              
    left: 0;             
    right: 0;            
    text-align: center;  
    z-index: 2;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.hero-copy-line-1 {
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px;
}

.hero-copy-line-2 {
    animation: fade-in-hero 3s ease-in-out forwards;
    color: #e81b8e;
}

@keyframes fade-in-hero {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

.unordered-list-container {
    position: absolute;
    top: -5%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.list-section {
    background-color: whitesmoke;
    color:#e81b8e; 
    font-size: 1.25rem;
    text-align: left;
    padding: 20px 20px 20px 20px;
    list-style-type: disc;
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 80%; /* Adjust as needed */
}

.list-section li {
    color:#e81b8e;
    margin-bottom: 3rem;
    line-height: 1.5;
}

.list-section li:last-child {
    margin-bottom: 0; /* Remove margin for the last li element */
}

.unordered-list-span {
    color:black;
}



/* .pink-checkmark {
    color:#e81b8e;
} */

.exclusive-line {
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
    padding-left: .5rem;
    padding-top: .5rem;
}



.mute-svg-icon {
    fill: white
}

.svg-background-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.image-link-wrapper {
    position: absolute;
    bottom: 13%;
    left: 0;
    width: 100%;
    padding: 5% 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-link {
    display: flex;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px; 
}

.image-link .profile-pic-wrapper {
    display: flex;
    align-items: center;
}

.image-link .profile-pic {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgb(221, 221, 221);
    background: radial-gradient(circle, rgb(255, 255, 255), #ffaeae);

}

.image-link .image-text {
    margin: 0 10px;
    color: white;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.link-wrapper {
    width: 75vw;
    align-self: flex-start;
    font-size: 1.25rem;
}

.link-wrapper a {
    background: rgb(250, 249, 246);
    color: #e81b8e; 
    text-decoration: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 90%;
    border-radius: 10px;
    transition: all 3s ease-in-out;
    animation: colorChange 3s forwards;
    animation-delay: 1.5s;
}

@keyframes colorChange {
    to {
        background: #e81b8e;
        color: rgb(250, 249, 246);
    }
}

.link-arrow {
    line-height: 1;
    animation: slide 1s ease-in-out 2s forwards;
    transform: translateX(-30px);
    font-size: 3rem;
    font-weight: 900;
}

@keyframes slide {
    to {
        transform: translateX(-10px);
    }
}

.bounce-arrow {
    color:#FAF9F6;
    text-shadow: 1px 1px 1px rgb(42, 42, 42);
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    /* visibility:hidden; */
}

.last-arrow {
    visibility:hidden;
}

.bounce-visible {
    /* visibility: visible; */
    animation: bounce 1s ease infinite;
    animation-iteration-count: 3;
    animation-delay: 1s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}
